### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [1]:
# Write code here
#taking ctc from user as input
ctc = int(input('enter your ctc'))

#now calculating tax
if ctc < 500000:
    salary = ctc*.82
elif ctc < 1000000:
    salary = ctc*.72 
    
elif ctc < 2000000:
    salary = ctc*.62
else:
    salary = ctc*.52
    
print(f'your in hand salary is {salary/12}')

enter your ctc1200000
your in hand salary is 62000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [3]:
# Write code here
#taking all angles from user
angle_1 = int(input('enter your first angle:\t'))
angle_2 = int(input('enter your second angle:\t'))
angle_3 = int(input('enter your third angle:\t'))

if (angle_1+angle_2+angle_3) == 180 and angle_1>0 and angle_2>0 and angle_3>0:
    print('this is triangle')
else:
    print('this is not a triangle')

enter your first angle:	90
enter your second angle:	60
enter your third angle:	30
this is triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [6]:
# Write code here
cost_price = float(input('enter your cost price::\t'))
selling_price = float(input('enter your selling price:\t'))

if cost_price < selling_price:
    print('profit')
elif cost_price > selling_price:
    print('loss')
else:
    print('no profit no loss')

enter your cost price::	30
enter your selling price:	30
no profit no loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [9]:
# Write code here
menu = int(input('''
select an option
press 1 for cm to ft
press 2 for km to miles
press 3 for usd to inr
press 4 for exit4
'''))

# 1 cm is equal to 0.0328084 ft
if menu == 1:
    cm = float(input('enter your cm values'))
    print(f'{cm} cm to ft is {cm*0.0328084}')

# 1 km is equal to 0.621371 miles
elif menu == 2:
    km = float(input('enter your km values'))
    print(f'{km} km to miles is {km*0.621371}')
    
# 1 usd is equal to 82.06 rupee
elif menu == 3:
    usd = float(input('enter your usd values'))
    print(f'{usd} usd to rupee is {usd*82.06}')
    
else:
    pass

select an option
press 1 for cm to ft
press 2 for km to miles
press 3 for usd to inr
press 4 for exit4
3
enter your usd values11
11.0 usd to rupee is 902.6600000000001

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [11]:
# Write code here
num1,num2 = 0,1

# taking which term user want to find
term = int(input('enter your term in fibonacci sereis:\t'))

for i in range(term):
    print(f'the {i} term is {num1}')
    
    new = num1 + num2
    
    num1 = num2
    num2 = new

enter your term in fibonacci sereis10
the 0 term is 0
the 1 term is 1
the 2 term is 1
the 3 term is 2
the 4 term is 3
the 5 term is 5
the 6 term is 8
the 7 term is 13
the 8 term is 21
the 9 term is 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [14]:
# Write code here
num = int(input('enter your factorial number:\t'))

fact = 1
for i in range(1,num + 1):
    fact = fact * i
print(fact)

enter your factorial number:	5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [30]:
# Write code here
number = int(input('enter your number:\t'))

number = str(number)

number = number[::-1]

number = int(number)

print(number)

enter your number123456
654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [70]:
# Write code here
#taking input of nth number from user
n = int(input('enter your number:\t'))

sum = 0
i = 1

while i < n:
    if i % 5 == 0:
        i += 1
        continue
    
    sum += i
    
    if sum > 300:
        sum -= i
        break
    i += 1
print(sum)

enter your number:	40
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [86]:
# Write code here
avg = 0
sum = 0

while True:
    num = int(input('enter your number:\t'))
    
    sum += num
    if num == 0:
        break
    avg += 1

print(f'you try {avg} time')
print(f'total sum of entered number is {sum}')
print(sum/avg)

enter your number:	1
enter your number:	2
enter your number:	3
enter your number:	4
enter your number:	5
enter your number:	0
you try 5 time
total sum of entered number is 15
3.0

### `Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
# Write code here
l = []

for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### `Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [27]:
# Write code here
l = []

for i in range(1000,3001):
    st =str(i)
    
    for j in st:
        flag = True
        if int(j) % 2 != 0:
            flag = False
            break
    if flag :
        l.append(st)
        
print(','.join(l))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### `Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [34]:
# Write code here
pos = [0,0]

while True:
    track = input('enter your robot movement:\t')
    
    if track == '!':
        break
    
    direction = track.split()[0]
    step = int(track.split()[1])
    
    if direction == 'up':
        pos[1] += step
    elif direction == 'down':
        pos[1] -= step
    elif direction == 'left':
        pos[0] -= step
    elif direction == 'right':
        pos[0] += step
    else:
        pass
    
print(pos)
print((pos[0]**2+pos[1]**2)**0.5)

enter your robot movement:	up 5
enter your robot movement:	down 6
enter your robot movement:	left 5
enter your robot movement:	up 2
enter your robot movement:	!
[-5, 1]
5.0990195135927845

### `Problem 12`:Write a program to print whether a given number is a prime number or not

In [39]:
# Write code here
num = int(input('enter your number:\t'))

for i in range(2,num):
    if num % i == 0:
        print(f'{num} is not a prime number')
        break
else:
    print(f'{num} is a prime number')

enter your number:	17
17 is a prime number

### `Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [1]:
# Write code here
num = int(input("enter your number:\t"))
l = []

for i in range(0,num+1):
    a = 0
    for j in str(i):
        a += int(j)**3
    
    if a == i:
        l.append(a)
    else:
        pass

print(l)

enter your number:	1000
[0, 1, 153, 370, 371, 407]

### `Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

### `Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here